<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.foora.foora.perevozkadev">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service android:name="com.foora.perevozkadev.service.SyncService" />

        <activity
            android:name="com.foora.perevozkadev.ui.entry.EntryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.foora.perevozkadev.ui.add_order.AddOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.White"/>
        <activity
            android:name="com.foora.perevozkadev.ui.search_order.SearchOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.foora.perevozkadev.ui.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.White"/>
        <activity
            android:name="com.foora.perevozkadev.ui.my_transport.MyTransportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.foora.perevozkadev.ui.add_transport.AddTransportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.White"/>
        <activity android:name="com.foora.perevozkadev.ui.transport.TransportActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2f4cefd4288d840132f8c5e70eea901ea3f4128a" />

        <activity
            android:name="com.foora.perevozkadev.ui.profile.profile_settings.ProfileSettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.foora.perevozkadev.ui.profile.profile_settings.general_info.GeneralInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.foora.perevozkadev.ui.profile.profile_settings.register_info.RegisterInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.foora.perevozkadev.ui.profile.profile_settings.your_profile.YourProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.foora.perevozkadev.ui.profile.profile_settings.change_password.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.foora.perevozkadev.ui.profile.profile_settings.change_phone.ChangePhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.foora.perevozkadev.ui.employees.EmployeesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.foora.perevozkadev.ui.add_employee.AddEmployeeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.White" />
        <activity
            android:name="com.foora.perevozkadev.ui.employee.EmployeeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.foora.perevozkadev.ui.my_orders.MyOrdersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>